---
layout: blog_index
---

<style>
	#sidbar-padding {
		display: none;
	}
</style>

<div class="container">
	<div class="row">
		<div class="col s12 card-panel blue-grey darken-4" style="margin-top: 50px;padding-top:0;">
			<div class="card hide-on-small-only blue-grey darken-4" style="margin-top:0.79rem;">
				<div id="banner" class="card-image">
					<img src="assets/img/banner.jpg" />
				</div>
			</div>
			<div class="row">
				<div class="col s12 m10 l7 offset-m1 offset-l1">
					<ul class="post-list">
						{% for post in site.posts %}
							<li style="margin-bottom: 25px;">
								<h4 style="margin-bottom: 5px;">
									<a class="green-text text-lighten-3" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
								</h4>
								<span class="post-meta white-text" style="">{{ post.date | date: "%b %-d, %Y" }}{% if post.author %}  —  {{ post.author }}{% endif %}</span>
								<br>
								{{ post.content | truncatewords:75}}<br>
								<p><a href="{{ post.url | prepend: site.baseurl }}">Read more...</a></p>
								<div class="divider"></div>
							</li>
						{% endfor %}
					</ul>
				</div>
				{% include sidebar.html %}
			</div>
		</div>
	</div>
</div>
