<nav>
	<div class="nav-wrapper blue-grey darken-4">
		<a href="/" class="brand-logo" style="padding-left: 25px;">Elza Homestead</a>
		<a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons" style="padding-left: 15px;">menu</i></a>
		<ul class="right hide-on-med-and-down">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/order">Weekly Orders</a></li>
		</ul>
		<ul class="side-nav" id="mobile-demo">
			<li><a href="/">Home</a></li>
			<li><a href="/about">About</a></li>
			<li><a href="/order">Weekly Orders</a></li>
		</ul>
	</div>
</nav>
