---
layout: default
---
<div class="container">
	<div class="row">
		<div class="col s12 card-panel" style="margin-top: 50px;">
			<div class="row">
				<div class="col s12 m12 l7 offset-m1 offset-l1">
					<h3 class="post-title grey-text text-darken-4" style="padding-top: 25px;">{{ page.title }}</h3>
					<div class="divider"></div>

					<p class="post-meta lime-text text-darken-3">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %}  •  {{ page.author }}{% endif %}{% if page.meta %}  •  {{ page.meta }}{% endif %}    {% for tag in page.tags %}<span class="chip" style="margin: 5px;">{{ tag }}</span>{% endfor %}</p>

					<article class="post-content">
						{{ content }}
					</article>
				</div>
				<div class="col s12 m12 l3 offset-m1">
					<div class="hide-on-med-and-down"><br><br><br><br><br></div>
					<h6 class="bold">Categories:<h6>
					<ul class="collapsible" data-collapsible="accordion">
						{% for category in site.categories %}
						<li>
							<div class="collapsible-header" style="text-transform: capitalize;">{{ category | first }}</div>
							<div class="collapsible-body">
								{% for posts in category %}
									{% for post in posts %}
										<ul><li class="truncate" style="padding-left:15px;padding-right:15px;"><p style="padding:0;"><a href="{{ post.url }}">{{ post.title }}</a></p></li></ul>
									{% endfor %}
								{% endfor %}
							</div>
						</li>
						{% endfor %}
					</ul>
					<br>
					<h6 class="bold">Archive</h6>
						<ul>
							{% for post in site.posts %}
								{% unless post.next %}
									{{ post.date | date: '%Y %b' }}
								{% else %}
									{% capture year %}{{ post.date | date: '%Y %b' }}{% endcapture %}
									{% capture nyear %}{{ post.next.date | date: '%Y %b' }}{% endcapture %}
									{% if year != nyear %}
										{{ post.date | date: '%Y %b' }}
									{% endif %}
								{% endunless %}
								<li><p><a href="{{ post.url }}" class="truncate">{{ post.title }}</a></p></li>
							{% endfor %}
						</ul>
					<br>
					<h6 class="bold">Follow Blog:<h6>
					<p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
					<br>
					<h6 class="bold">Contact Info:<h6>
					jared@elzahomestead.com
				</div>
			</div>
		</div>
	</div>
</div>
